<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="BackendType" value="1" />
		<add key="LanguagePath" value="C:/Users/Gonzalo/source/repos/WindowsFormsApp1/I18n/" />
		<add key="FolderLogs" value="C:/Users/Gonzalo/Desktop/Extras/Logs" />
		<add key="PathLogError" value="C:/Users/Gonzalo/Desktop/Extras/Logs/error.log" />
		<add key="PathLogInfo" value="C:/Users/Gonzalo/Desktop/Extras/Logs/info.log" />
		<add key="LogLevel" value="2" />
		<!-- Configuración del tipo de logger -->
		<add key="LoggerType" value="database" />
		<!-- Cambia entre "file" y "database" -->
		<!-- Ruta para el archivo de configuración del idioma del usuario -->
		<add key="UserLanguageConfigPath" value="C:/Users/Gonzalo/source/repos/WindowsFormsApp1/config.txt" />
		<!-- Rutas para almacenar los archivos de backup -->
		<add key="BackupPath_Estacionamiento" value="C:/Users/Gonzalo/Desktop/Extras/BackUp/TC_Estacionamiento.bak" />
		<add key="BackupPath_User" value="C:/Users/Gonzalo/Desktop/Extras/BackUp/TC_User.bak" />
		<add key="BackupPath_Log" value="C:/Users/Gonzalo/Desktop/Extras/BackUp/TC_Log.bak" />

		<!-- Rutas para almacenar los archivos de PDF de los recibos -->
		<add key="ReciboPdfRuta" value="C:/Users/Gonzalo/Desktop/Extras/RecibosGenerados/" />

		<!-- Ruta del logo de la empresa -->
		<add key="LogoPath" value="C:/Users/Gonzalo/Desktop/Logo/logo.png" />

		<!-- Ruta en donde se descarga el PDF de consultarRecibo -->
		<add key="RutaDescargaPDF" value="C:/Users/Gonzalo/Desktop/Extras/RecibosDescargados/" />

		<!-- Ruta en donde se descarga el PDF del reporte -->
		<add key="ExportPdfPath" value="C:\\Users\\Gonzalo\\Desktop\\Extras\\Reportes\\ChartUsuariosExport.pdf" />


		<!--Ruta de manual de ayuda de usuario-->
		<add key="HelpFilePath_es" value="C:\Users\Gonzalo\Desktop\Extras\Manual_Usuario\Manual de usuario - SGDE.chm" />
		<add key="HelpMap_AltaCliente" value="1" />
		<add key="HelpMap_MostrarCliente" value="3"/>
		<add key="HelpMap_ModificarCliente" value="2"/>
		<add key="HelpMap_AgregarVehiculo" value="4"/>
		<add key="HelpMap_ModificarVehiculo" value="5"/>
		<add key="HelpMap_AgregarTarifa" value="7"/>
		<add key="HelpMap_EditarTarifa" value="8"/>
		<add key="HelpMap_MostrarTarifa" value="9"/>
		<add key="HelpMap_GenerarReserva" value="11"/>
		<add key="HelpMap_ModificarReserva" value="12"/>
		<add key="HelpMap_Recibo" value="14"/>
		<add key="HelpMap_ReporteCliente" value="16"/>
		<add key="HelpMap_CrearUsuario" value="18"/>
		<add key="HelpMap_MostrarUsuario" value="19"/>
		<add key="HelpMap_ModificarUsuario" value="20"/>
		<add key="HelpMap_AsignarRol" value="21"/>
		<add key="HelpMap_CrearRol" value="22"/>
		<add key="HelpMap_CrearAcceso" value="23"/>
		<add key="HelpMap_Respaldo" value="24"/>
		<add key="HelpMap_AgregarEstacionamiento" value="26"/>
		<add key="HelpMap_ModificarEstacionamiento" value="27"/>









	</appSettings>
	<connectionStrings>
		<add name="MainConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TC_Estacionamiento;Integrated Security=True;Connect Timeout=30;Encrypt=False" />
		<add name="SecondConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TC_User;Integrated Security=True;Connect Timeout=30;Encrypt=False" />
		<add name="LogDatabase" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TC_Log;Integrated Security=True;Connect Timeout=30;Encrypt=False" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>